@import './index.scss';

.container {
  display: flex;
  background-color: #fafafa;
  min-height: 100vh;
}

.menu {
  align-self: flex-start;
  height: 100vh;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  width: 400px;
  box-shadow: 0 5px 20px rgba(0, 0, 10, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2vw;
}

.menu h1 {
  align-self: stretch;
  font-size: 1.7rem;
  margin: 40px 0;
  color: $green;
}

.menu .item {
  width: 100%;
  height: 50px;
  margin: 3px 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding-left: 2vw;
  transition: background-color 0.2s ease-in-out;
  font-size: 1.1rem;
  color: #444;
  cursor: pointer;
}

.menu .item.active {
  background-color: $green-light;
  font-weight: 500;
  outline: solid $green;
}

.menu .item:hover {
  background-color: $green-light;
}

.content {
  height: 100%;
  padding: 30px 0 0 50px;
}

button {
  background-color: $green-light;
  border: none;
  padding: 1rem;
  border-radius: 10px;
  margin-right: 5px;
  color: #444;
  font-weight: 600;
  cursor: pointer;
  transition: box-shadow 0.1s;
}
button:hover {
  outline: solid $green;
}
button:active {
  box-shadow: 0 0 0 3px $green inset;
}
